### Print Statements

In [3]:
print("Hello World")
print(8)
print("Bye", 9)

Hello World
8
Bye 9

### Escape Sequence

In [6]:
print("My name is \"Samarth Agrawal\" and I am handsome")

My name is "Samarth Agrawal" and I am handsome

##### If '\' not used then it would give error and same goes with single quotes as well.

#### Parameters of "print" Statement
--> Separate = sep(~)

--> End = Specify what to print at the end.

In [16]:
print("Heyy", 8, 10, sep="~")
print("I am Samarth", end ="009")
print("Agrawal")

Heyy~8~10
I am Samarth009Agrawal

## EX1 - CALCULATOR using PYTHON OPERATORS

In [6]:
a=9
b=5
print("The value of", a, "+" ,b, "is :", a+b)
print("The value of", a, "-" ,b, "is :", a-b)
print("The value of", a, "/" ,b, "is :", a/b)
print("The value of", a, "//" ,b, "is :", a//b)
print("The value of", a, "%" ,b, "is :", a%b)
print("The value of", a, "**" ,b, "is :", a**b)

The value of 9 + 5 is : 14
The value of 9 - 5 is : 4
The value of 9 / 5 is : 1.8
The value of 9 // 5 is : 1
The value of 9 % 5 is : 4
The value of 9 ** 5 is : 59049

#### Typecasting error

In [9]:
a="1"
b="4"
print(a+b) ## just concatenated

14

In [11]:
a=1
b=4
print(a+b)

5

In [14]:
a="1"
b="4"
print(int(a)+int(b))   #Typecasted

5

## Two types of type casting:
i) Implicit 

ii) Explicit

In [18]:
a="1"
b="4"
print(int(a)+int(b))   #Explicit Type Conversion

5

In [22]:
c=1.9
print(type(a))
d=8
print(type(d))
print(c+d)          #Implicit Type Conversion

<class 'str'>
<class 'int'>
9.9

## STRING METHODS

In [48]:
a="Samarth"
b="Helloo !!!!"
c="Samundar Shahi Shaam"
d="samThy"
e="Sam09"
f="Sam\n"
g="         "
print(a.upper())           #converts every character to upper case
print(a.lower())           #converts every character to lower case
print(b.rstrip("!"))       #strips the character you want from the string but works only for trailing characters and not for starting
print(c.replace("S","M"))  #replaces all occurences of a string with another
print(c.split(" "))        #slpits each string before and after space into a list
print(d.capitalize())      #converts first char. to capital and rest small
print(a.center(20))        #aligns the string to center as per the parameters
print(a.count("a"))
print(a.endswith("h"))
print(a.endswith("t",3,6))
print(c.find("Shahi"))     #returns index where found
print(a.index("h"))
print(a.isalnum())         #should contain only A-Z, a-z, 0-9 in the whole string
print(e.isalpha())         #should only contain A-Z,a-z
print(a.islower())         #returns true if all char. are lower
print(f.isprintable())     #should contain only printable chars in this false as \n not printable
print(g.isspace())         #should only contain white spaces
print(c.istitle())
print(a.isupper())
print(a.startswith("S"))
print(a.swapcase())       #converts small to capital and capital to small
print(c.title())

SAMARTH
samarth
Helloo
Mamundar Mhahi Mhaam
['Samundar', 'Shahi', 'Shaam']
Samthy
      Samarth
2
True
True
9
6
True
False
False
False
True
True
False
True
sAMARTH
Samundar Shahi Shaam

### If else and Nested if else

In [2]:
num = 18
if (num < 0):
    print("Number is negative.")
elif (num > 0):
    if (num <= 10):
        print("Number is between 1-10")
    elif (num > 10 and num <= 20):
        print("Number is between 11-20")
    else:
        print("Number is greater than 20")
else:
    print("Number is zero")

Number is between 11-20

## EX2 - Good Morning Sir

In [7]:
import time
t = time.strftime('%H:%M:%S') 
hour = int(time.strftime('%H'))
hour = int(input("Enter hour: "))
print(hour)

if(hour>=0 and hour<12):
  print("Good Morning Sir!")
elif(hour>=12 and hour<17):
  print("Good Afternoon Sir!")
elif(hour>=17 and hour<0):
  print("Good Night Sir!")

Enter hour:  14

14
Good Afternoon Sir!

## Match Case Statements

In [10]:
x = int(input("Enter the value of x: "))
# x is the variable to match
match x:
    # if x is 0
    case 0:
        print("x is zero")
    # case with if-condition
    case 4:
        print("case is 4")
    case _:       # default case
        print(x)

Enter the value of x:  4

case is 4

### FOR Loops

In [13]:
name = 'Abhishek'
for i in name:
    print(i)

A
b
h
i
s
h
e
k

In [3]:
colors = ["Red", "Green", "Blue", "Yellow"]
for color in colors:
    print(color)

Red
Green
Blue
Yellow

### Break ststements

In [3]:
for i in range(12):
    if(i==10):
        break
    print("5 X", i+1, "=", 5*(i+1))

5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

## FUNCTIONS

In [7]:
def calculateGmean(a, b):
  mean = (a*b)/(a+b)
  print(mean)

a = 9
b = 8
calculateGmean(a, b)
c = 8
d = 74
calculateGmean(c, d)

4.235294117647059
7.219512195121951

In [9]:
def isGreater(a, b):
  if(a>b):
    print("First number is greater")
  else:
    print("Second number is greater or equal")

a = 9
b = 8
isGreater(a, b)
c = 8
d = 74
isGreater(c, d)

First number is greater
Second number is greater or equal

## TYPES OF ARGUMENTS

i) Default Arg

ii) Keyword Arg

iii) Variable Length Arg

iv) Required Arg

Two types of var length arg

--> Arbitrary Arg

--> Keyword Arbitrary Arg

In [16]:
def avg(a=4,b=6):
    print("The avg is", (a+b)/2)
avg()   #Default arg

The avg is 5.0

In [20]:
def avg(a,b):
    print("The avg is", (a+b)/2)
avg(b=4,a=2)   #keyword arg

The avg is 3.0

In [24]:
def avg(a,b,c):
    print("The avg is", (a+b+c)/3)
avg(4,6,5)   #required arg

The avg is 5.0

In [29]:
def avg(*num):
    print(type(num)) #for finding the type of parameter
    sum=0
    for i in num:
        sum=sum+i
    print("The avg is",sum/len(num))
avg(6,8)    #arbitrary arg

<class 'tuple'>
The avg is 7.0

In [35]:
def name(**name):
    print(type(name)) #for finding the type of parameter
    print("Hello,", name["fname"],name["mname"],name["lname"])
name(mname="Samarth", fname="Preeti", lname="Anjali")    #keyword arbitrary arg

<class 'dict'>
Hello, Preeti Samarth Anjali

### Return Statement

In [40]:
def avg(*num):
    sum=0
    for i in num:
        sum=sum+i
    return sum/len(num)
c=avg(5,9)
print(c)

7.0

In [44]:
def avg(*num):
    sum=0
    for i in num:
        sum=sum+i
    
c=avg(5,9)
print(c)  ## if no return statement it will return NONE

None

## EX2 - Kaun Banega Crorepati

In [1]:
questions = [
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "What is your name?", "Samarth", "Raj", "Mayank",
    "James", "None", 1
  ],
  [
    "Do u have a crush?", "Yes", "Maybe", "No",
    "Canbe", "None", 2
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
  [
    "Which language was used to create fb?", "Python", "French", "JavaScript",
    "Php", "None", 4
  ],
]

levels = [1000, 2000, 3000, 5000, 10000, 20000, 40000, 80000, 160000, 320000]
money = 0
for i in range(0, len(questions)):
  
  question = questions[i]
  print(f"\n\nQuestion for Rs. {levels[i]}")
  print(f"a. {question[1]}          b. {question[2]} ")
  print(f"c. {question[3]}          d. {question[4]} ")
  reply = int(input("Enter your answer (1-4) or  0 to quit:\n" ))
  if (reply == 0):
    money = levels[i-1]
    break
  if(reply == question[-1]):
    print(f"Correct answer, you have won Rs. {levels[i]}")
    if(i == 4):
      money = 10000
    elif(i == 9):
      money = 320000
    elif(i == 14):
      money = 10000000
  else:
    print("Wrong answer!")
    break 

print(f"Your take home money is {money}")

Question for Rs. 1000
a. Python          b. French
c. JavaScript          d. Php

Enter your answer (1-4) or  0 to quit:
 4

Correct answer, you have won Rs. 1000


Question for Rs. 2000
a. Samarth          b. Raj
c. Mayank          d. James

Enter your answer (1-4) or  0 to quit:
 1

Correct answer, you have won Rs. 2000


Question for Rs. 3000
a. Yes          b. Maybe
c. No          d. Canbe

Enter your answer (1-4) or  0 to quit:
 5

Wrong answer!
Your take home money is 0

### String Formatting

In [4]:
letter="Hey !! My name is {} and I am from {}."
name="Samarth Agrawal"
country="India"
print(letter.format(name,country))

Hey !! My name is Samarth Agrawal and I am from India.

### f-string in Python

In [9]:
name="Samarth Agrawal"
country="India"
print(f"Hey !! I am {name} and I live in {country}.")

Hey !! I am Samarth Agrawal and I live in India.

In [17]:
price=45.09999
print(f"Your total amount is {price:.2f} rupees.")

Your total amount is 45.10 rupees.

## Zen of Python

It is a poem.

In [5]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!

### Recursion

#### Fcatorial Program

In [41]:
def factorial(num):
    if(num==0 or num==1):
        return 1
    else:
        return num*factorial(num-1)
        
print(factorial(5))
print(factorial(8))
print(factorial(7))

120
40320
5040

#### Fibonacci Program

In [53]:
a=int(input("Enter a number:"))
def fibo(n):
    if(n==0):
        return 0
    elif(n==1):
        return 1
    else:
        return fibo(n-1) + fibo(n-2)
for i in range(a):
    print(fibo(i))

Enter a number: 8

0
1
1
2
3
5
8
13

# SETS

In [66]:
s1={1,2,5,6}
s2={3,6,7}

print(s1.union(s2))    #union

s1.update(s2)          #update
print(s1,s2)

{1, 2, 3, 5, 6, 7}
{1, 2, 3, 5, 6, 7} {3, 6, 7}

In [74]:
a1={"Sam","Kashu","Kash","Anans"}
a2={"Kashu","Anans"}
s3=a1.intersection(a2) #intersection
print(s3)

a1.intersection_update(a2)      #intersection_update
print(a1)

{'Kashu', 'Anans'}
{'Kashu', 'Anans'}

## else in For Loop

In [4]:
for i in range(5):
    print(i)
else:
    print("Sorry")

0
1
2
3
4
Sorry

In [8]:
for i in []:
    print(i)
else:
    print("Sorry")

Sorry

In [10]:
for i in range(5):
    print(i)
    if(i==4):
        break
else:
    print("Sorry")

0
1
2
3
4

In [18]:
i=0
while i<9:
    print(i)
    i=i+1
else:
    print("Sorrryyyyyyyyy")

0
1
2
3
4
5
6
7
8
Sorrryyyyyyyyy

## Exception Hnadling

In [25]:
a=input("Enter a number:")
print(f"Multiplication table of {a} is :")
for i in range(1,11):
        print(f"{int(a)} X{i} ={int(a)*i}")
print("End of prog")

Enter a number: 9

Multiplication table of 9 is :
9 X1 =9
9 X2 =18
9 X3 =27
9 X4 =36
9 X5 =45
9 X6 =54
9 X7 =63
9 X8 =72
9 X9 =81
9 X10 =90
End of prog

In [29]:
a=input("Enter a number:")
print(f"Multiplication table of {a} is :")
for i in range(1,11):
        print(f"{int(a)} X{i} ={int(a)*i}")

print("End of prog")

Enter a number: Samarth

Multiplication table of Samarth is :

ValueError: invalid literal for int() with base 10: 'Samarth'

In [33]:
a=input("Enter a number:")
print(f"Multiplication table of {a} is :")
try:
    for i in range(1,11):
        print(f"{int(a)} X{i} ={int(a)*i}")
except Exception as e:
    print("Soryyyy")

print("End of prog")

Enter a number: Samarth

Multiplication table of Samarth is :
Soryyyy
End of prog

## EX4 - Secret Code Language

In [ ]:
st = input("Enter message")
words = st.split(" ")
coding = input("1 for Coding or 0 for Decoding")
coding = True if (coding=="1") else False
print(coding)
if(coding):
  nwords = []
  for word in words:
    if(len(word)>=3):
      r1 = "dsf"
      r2 = "jkr"
      stnew = r1+ word[1:] + word[0] + r2
      nwords.append(stnew)
    else:
      nwords.append(word[::-1])
  print(" ".join(nwords))

else:
  nwords = []
  for word in words:
    if(len(word)>=3): 
      stnew = word[3:-3]
      stnew = stnew[-1] + stnew[:-1]
      nwords.append(stnew)
    else:
      nwords.append(word[::-1])
  print(" ".join(nwords))

## Short Hand if else

In [4]:
a=2
b=95
print("A") if a>b else print("B")

B

In [6]:
a=2
b=95
print("A") if a>b else print("=") if a==b else print("B")

B

In [8]:
a=2
b=2
print("A") if a>b else print("=") if a==b else print("B")

=

In [12]:
a=244
b=95
print("A") if a>b else print("=") if a==b else print("B")

A

### Enumerate Function

In [17]:
marks=[12,56,32,67,89,90,2,4,5]
index=0
for index,mark in enumerate(marks):
    print(index,mark)
    if(index==3):
        print("Hey")

0 12
1 56
2 32
3 67
Hey
4 89
5 90
6 2
7 4
8 5

In [19]:
fruits=["Apple","Banana","Grapes","Mango"]
for index,fruit in enumerate(fruits):
    print(index,fruit)

0 Apple
1 Banana
2 Grapes
3 Mango

#### For starting index at your choice

In [22]:
fruits=["Apple","Banana","Grapes","Mango"]
for index,fruit in enumerate(fruits,start=1):
    print(index,fruit)

1 Apple
2 Banana
3 Grapes
4 Mango

## Import Module

In [10]:
result=math.sqrt(8)
print(result)

NameError: name 'math' is not defined

In [14]:
import math
result=math.sqrt(64)
print(result)

8.0

In [24]:
import math
result=math.floor(9.8790)
print(result)

9

In [18]:
from math import sqrt

In [20]:
result=math.sqrt(8)
print(result)

2.8284271247461903

In [26]:
from math import sqrt,pi
result=math.sqrt(8)
print(result)
print(pi)

2.8284271247461903
3.141592653589793

### os Module

##### For creating files in the directory, try this in vs code, create a new file and in that file create many files(create a main.py file in vs)

In [ ]:
import os
if(not os.path.exists("data")):
    os.mkdir("data")

for i in range(0,100):
    os.mkdir(f"data/Day{i+1}")

### For renaming the files in os module use this

In [ ]:
import os


for i in range(0,100):
    os.rename(f"data/Day{i+1}", f"data/Tutorial{i+1}")

### For finding how many folders are there in the data

In [ ]:
import os
folders=os.mkdir("data") 

print(folders)

for folder in folders:
    print(folder)

#### For finding the number of folders in the folders of the data

In [ ]:
import os
folders=os.mkdir("data") 

print(folders)

for folder in folders:
    print(folder)
    print(os.listdir(f"data{folder}"))